@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

/* Corpo (Centralizar o formulário)*/

.corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

/* Formulário */

.form {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 6px;
    justify-content: space-between;
    padding: 20pt 35pt;
}

.form label,
input {
    font-size: 12pt;
    height: 20pt;
}

.form input {
    margin-bottom: 8pt;
}

.form .botao {
    width: 200pt;
    height: 25pt;
    margin-top: 8pt;
}

#erro {
    margin: 0;
    padding: 0;
    color: red;
    font-size: 8pt;
}

/* Cabeçalho e Rodapé*/

.cabecalho {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#voltar {
    text-decoration: none;
    margin-left: 40pt;
    display: block;
    background-color: rgba(202, 231, 202, 0.503);
    padding: 5pt;
    border: 2px rgb(167, 236, 167) solid;
    border-radius: 5px;
    color: black;
    font-size: 15pt;
}

#voltar:hover {
    opacity: 0.5;
}

#logo {
    margin-top: 20px;
}

#logo img {
    width: 400px;
}

.rodape {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 5vh;
    width: 100%;
}

/* Menu */

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.botao-menu {
    width: 100%;
    max-width: 300px;
    background-color: #ffffff;
    color: #333333;
    text-decoration: none;
    padding: 15px 10px;
    border-radius: 10px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: block;
    color: #00a651;
    border: 2px solid #00a651;
}